body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-base: 16px;

  /* Colors */
  --color-dimgray-100: #6d6d6d;
  --color-black: #000;
  --color-gainsboro: #e1e1e1;
  --color-maroon: #820617;

  /* Border radiuses */
  --br-8xs: 5px;
}
